[user]
  name = khoahuynhf
  email = khoa0319@gmail.com
[alias]
  co = checkout
  gp = pull --rebase
  cam = commit -am
[core]
  editor = vim
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
